.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		li{
			padding-right: 10px;
		}
	}
}

.underline {
	text-decoration: underline;
}