hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

#menu-main-nav{
	>li {
		.active{
		.nav-link.active{
			display: flex;
	    	flex-direction: column;
			&::after{
				margin-top: 3px;
				height: 2px;
				width: 100%;
				content: "";
				background-color: theme-color('secondary');
			}
		}
	}
	}
}



.top-banner {
	position: relative;
	img {
		height: 500px;
		object-fit: cover;
	}
	.top-banner-overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		padding: 30px 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		.banner-text {
			h2, .h1 {
				font-size: 1.5rem;
			}
		}
		
		.banner-cta {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.h3 {
				font-size: 1rem;
			}
		}
	}
}

.hay-title {
	position: relative;
	margin: 2rem auto;
	padding: 0 65px;
	
	&::before {
		content: "";
		background-image: url("./assets/dist/images/grainleaf_left.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 56px;
		height: 26px;
		display: inline-block;
		margin-right: 10px;
		margin-top: 2px;
		@include media-breakpoint-down(xs){
			position: absolute;
			left: 0;
			top: 0;
			// transform: translateY(50%);
		}
	}
	&::after{
		content: "";
		background-image: url("./assets/dist/images/grainleaf_right.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 56px;
		height: 26px;
		display: inline-block;
		margin-left: 10px;
		margin-top: 2px;
		@include media-breakpoint-down(xs){
			position: absolute;
			right: 0;
			top: 0;
			// transform: translateY(50%);
		}
	}
}

.product-table {
	max-width: 960px;
	margin: auto;
}

$column-width: 120px;
// hay table
.table-head {
	/*display: grid;
	min-height: 68px;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;*/
	@extend .d-none;
	@extend .d-lg-flex;
	justify-content: stretch;
	>div {
		padding: 10px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	>div:not(:first-child){
		width: $column-width;
	}

	>div:first-child{
		width: calc( 100% - 5*#{$column-width});
	}

	div:nth-child(odd) {
		background-color: rgba(149, 167, 101, 1);
	}

	div:nth-child(even) {
		background-color: rgba(149, 167, 101, 0.75);
	}
}

.table-content{
	
	.table-row {
		@extend .d-flex;
		margin: auto;
		padding: 10px;

		@include media-breakpoint-up(lg){
			&{

				>div{

					>div{
						padding: 10px;
					}
				}
				flex-direction: row;
				align-items: center;
				text-align: center;
				>div:not(:first-child){
					width: $column-width;
				}

				>div:first-child{
					width: calc( 100% - 5*#{$column-width});
				}		
			}
		}


		@include media-breakpoint-down(md){
			&{
				flex-direction: column;
				>div{
					display: flex;
					>div{
						width: 50%;
						padding: 10px;
					}
				}
			}
		}
	}

	.table-row:nth-child(odd){
		@extend .bg-light;
	}
}

#store-and-del-slider {

	.slick-prev, .slick-next {
		width: auto;
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		right: 0;
	}

	.slick-prev::before {
		padding: 10px;
		background-color: rgba(225,225,225,0.6);
		font-weight: 900;
	}
	.slick-next::before {
		background-color: rgba(225,225,225,0.6);
		padding: 10px;
		font-weight: 900;
	}
}

.sub-bottom-line {
	width: 200px;
	background-color: #949b50;
}


#site-footer{
	#site-legal{
		@extend .pb-4;
		@extend .px-3;
		@extend .px-md-5;
		@extend .pt-0;

		&::before{
			content: "";
			width: 100%;
			border-bottom: 1px solid #fff;
			background-color: theme-color('primary');
			@extend .my-4;
		}
	}
	#site-footer-main{
		@extend .pt-5;
		@extend .px-3;
		@extend .px-md-5;

		.row{
			@extend .align-items-center;
		}

		.site-footer-alpha{
			@extend .col-md-3;
			@extend .col-lg-4;
			@extend .order-1;
		}
		.site-footer-bravo{
			@extend .col-md-9;
			@extend .col-lg-6;
			@extend .order-3;
			@extend .order-lg-2;
		}
		.site-footer-charlie{
			@extend .col-md-12;
			@extend .col-lg-2;
			@extend .order-2;
			@extend .order-lg-3;
		}
		#menu-footer-nav{
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			li{
				padding-right: 30px;
				a{
					color: #fff;
				}

				&:last-child{
					padding-right: 0;
				}
			}
		}
		i{
			color: #fff;
			font-size: 17px;
		}
	}

	.widget{
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
	}
}

// services page
#fast-efficient .flexible_grid {

	> .grid-2-column {
			.text-editor {
				padding: 50px;
			}
			img {
				height: 100%;
				object-fit: cover;
			}
			&:nth-child(2) {
				margin: auto;
			}
		}
	}

#stop-by .flexible_grid {
	> .grid-2-column {
			.text-editor {
				padding: 50px;
			}
			img {
				height: 100%;
				object-fit: cover;
			}
			&:first-child {
				margin: auto;
			}
		}
}

//contact


.contact-phone::before {
	font-family: "Font Awesome 5 Free";
	content: "\f095";
	font-weight: 900;
	margin-right: 5px;
	color: #debc3c;
	font-size: 1rem;
}

.contact-email::before {
	font-family: "Font Awesome 5 Free";
	content: "\f2b6";
	font-weight: 900;
	margin-right: 5px;
	color: #debc3c;
	font-size: 1rem;
}

.contact-address::before {
	font-family: "Font Awesome 5 Free";
	content: "\f3c5";
	font-weight: 900;
	margin-right: 5px;
	color: #debc3c;
	font-size: 1rem;
}



@media screen and (min-width: 768px) {
	.top-banner {

		.top-banner-overlay {
			padding: 50px 50px;
			.banner-text {
				h2, .h1 {
					font-size: 2.5rem;
				}
			}
			.banner-cta {
				flex-direction: row;
				>* {
					margin: 0px 10px;
				}
				.h3 {
					font-size: 1.5rem;
				}
			}
		}
	}

}

.gallery-slider{
	img{
		width: 100%;
		height: 300px;
		object-fit: cover;
		padding: 20px;
	}
}

.featured-gallery {
	img {
		width: 100%;
		height: 250px;
		object-fit: cover;
		padding: 20px;
	}
}

