//Utility Bar

$utility-bar-background-color:				theme-color('primary');
$utility-bar-color:							theme-color('white');
$utility-bar-padding:						$spacer 0;

$utility-bar-icon-color:					#fff;
$utility-bar-icon-size:						17px;

/* Header */

$header-background-color:					#fff;
$header-box-shadow:							0 2px 1px -1px grey;

$header-logo-width: 						150px;
$header-logo-width-sm: 						200px;
$header-logo-width-md: 						200px;

$mobile-toggle-size: 						25px;
$header-padding:							$spacer 0;

$nav-breakpoint-up:                          'lg';
$nav-breakpoint-down:                        'md';